<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title><%= @title || 'product template' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= info %>
    <p style="color: gray;">product テンプレート適用中。</p>
    <%= yield %>
  </body>
</html>
