<p>
  <%= image_tag 'wings_logo.gif' %>
</p>
<p>
  <%= image_tag '/icons/button.gif' %>
</p>
<p>
  <%= image_tag 'http://www.web-deli.com/image/linkbanner_s.gif' %>
</p>
<p>
  <%= image_tag 'fish.jpg', alt: '沖縄の魚', size: '120x90' %>
</p>
<p>
  <%= image_tag 'fish.jpg', alt: '沖縄の魚', width: 120, height: 90 %>
</p>
